.App {
  text-align: center;
  font: 35px;
  margin-top: 20%;
}

.title {
  font-size: 50px;
}

.clock-days, .clock-minutes, .clock-hours, .clock-seconds {
  display: inline;
  margin: 10px;
}

.Dealine-input{
  font-size: 25px;
  margin: 5px;
}